.card-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
}
.home-container{
    display: flex;
    gap: 10px;
}

.card-container{
    width: 1020px;
}

.card{
    background-color: aliceblue;
    color: black;
    box-shadow: cornsilk;
    height: auto;
    border: none;
    width: 300px;
  
    border-radius: 20px;
    padding: 10px;
}
.button-card{
    width: 100%;
    background-color: #2F80ED;
}
.info{
    display: flex;
    justify-content: space-between;
}
.price-section{
    display: flex;
    gap:4px;

}
.price-section h2{
    margin-top: 16px;
}
.credit-section{
    display: flex;
    gap: 4px;
   
   
}
.credit-section h2{
    margin-top: 16px;
}